<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1>Members</h1>
    <div>
        <form method="get" action="listMember">
            <input type="text" name="name" placeholder="Name" value="<%= query.Name %>" />
            <input type="text" name="phoneNumber" placeholder="Phone Number" value="<%= query.Phone %>" />
            <input type="submit" value="Search" />
        </form>
        <div>
            <p><a href="addMembers">Add Member</a></p>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <td>MemberId</td>
                <td>Name</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i < members.length; i++) { %>
                <tr>
                    <td>
                        <%= members[i].MemberID %>
                    </td>
                    <td>
                        <%= members[i].Name %>
                    </td>
                    <td>
                        <form method="POST" action="/deleteMember">
                            <input type="hidden" name="id" value="<%= members[i]._id %>">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td><a href="updateMember/<%= members[i]._id %>">Edit</a></td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>